* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: url(../IMAGES/fons-heijnsbroek-P9tiiD9vHlU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1px;
}

/* Navigation Styling */
header {
  
  color: #fff;

  padding: 0;
  text-align: center;
}

header ul {
  list-style: none;
  background-color: aqua;
  padding:20px;
}

header ul li {
  display: inline;
  margin: 0 10px;

}

header a {
  
  color:blueviolet;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* Hero Section */
#hero {
  background: url(../IMAGES/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg);
  background-size: cover;
  color: black;
  padding:  50px;
  text-align: center;
}

#hero h1 {
  font-size: 3rem;
}

#hero img {
  width: 150px;
  border-radius: 10px;
  float: left;
  height: auto;

}

/* About Section */
#about {
  margin: 0 0 0 0;
  padding: 50px;
  background-color:cadetblue;
  text-align: center;
  color: blue;
}

/* Skills Section */
#skills {
  padding: 40px;
  background:url(../IMAGES/background.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills ul li {
  display: inline-block;
  
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

/* Projects Section */
#projects {
  padding: 10px;
  background-color: brown;
  
}

.project-card {
  
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 100px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
 
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.project-card a:hover {
  background: #555;
  transition: 2s;
}

/* Contact Section */
#contact {
  padding: 50px;
  background:url(../IMAGES/ferdinand-stohr-NFs6dRTBgaM-unsplash.jpg);
  color: aqua;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact input, #contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}
.send{
  background-color: blueviolet;
}
.send:hover{
background: #555;
transition: 2s;
cursor: pointer;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
@media (max-width: 768px) {
    #hero h1 {
      font-size: 2rem;
    }
  
    header ul li {
      display: block;
      margin: 10px 0;
    }
  
    .project-card {
      margin-bottom: 30px;
    }
  }
  